
@{
    ViewData["Title"] = "Low";
}
<div class="main-container" data-lotriver-wrapper="">
    <div class="section-title section-title_top">
        <p class="section-title_name">@LowviewResource.Low</p>
    </div>
    <div class="md-content">
        <p><a href="http://www.e-qanun.az/framework/3423">@LowviewResource.Roadlow</a></p>

        <p><a href="http://e-qanun.az/framework/46960">@LowviewResource.Errorlow</a></p>

        <p><a href="https://www.dyp.gov.az/?/az/content/206/">@LowviewResource.Moneylow</a></p>
    </div>
</div>


